<div class="container">
    <form class="form-group m-4 p-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <label>First Name </label>
                <input class="form-group form-control" type="text" id="firstname">
            </div>
            <div class="col-md-4">
                <label>Last Name</label>
                <input class="form-group form-control" type="text" id="lastname">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label>Address </label>
                <input class="form-group form-control" type="text" id="address">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label>Mobile </label>
                <input class="form-group form-control" type="number" id="mobile">
            </div>

        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label>E-Mail</label>
                <input class="form-group form-control" type="email" id="email" placeholder="testuser@test.com">
            </div>

        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <label>Date of Birth</label>
                <input class="form-group form-control" type="date" id="dob">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <button (click)='preAPICall()' class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>